<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/final.css">
    <script src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>

  <div class="revenue">
    <div class="revenue-content">
      <h1>Total Revenue</h1>
      <br>
      <h1>₹<%= booking*price %></h1>
    </div>
  </div>
    
    <div class="analysis">
        <div id="myPieChart"></div>
        <div id="myPieChart2"></div> 
        <div id="barchart_values"></div>
    </div>
    <br><br>
    <div class="container">
	
      <div class="table">
        <div class="table-header">
          <div class="header__item"><a id="name" class="filter__link" href="#">Sl.no</a></div>
          <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Name</a></div>
          <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Email</a></div>
          <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">PhoneNumber</a></div>
          <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Tickets</a></div>
        </div>
      <% var count=1%>
      <% passedAudience.forEach(audience => { %>
        <div class="table-content">	
          <div class="table-row">		
            <div class="table-data"><%= count++ %> </div>
            <div class="table-data"><%= audience.audiName %></div>
            <div class="table-data"><%= audience.audiEmail %></div>
            <div class="table-data"><%= audience.audiPhNum %></div>
            <div class="table-data"><%= audience.noOfTickets %></div>
          </div>
        </div>  
      <% }) %> 
    </div>
  <% var count=1%>
  <% passedAudience.forEach(audience => { %>
    <div class="table-content">	
      <div class="table-row">		
        <div class="table-data"><%= count++ %> </div>
        <div class="table-data"><%= audience.audiName %></div>
        <div class="table-data"><%= audience.audiEmail %></div>
        <div class="table-data"><%= audience.audiPhNum %></div>
        <div class="table-data"><%= audience.noOfTickets %></div>
      </div>
    </div>  
  <% }) %> 
</div>

    <script>
        var male = "<%= male %>";
        var female = "<%= female %>";
        var children = Number("<%= children %>");
        var teenager = Number("<%= teenager %>");
        var middleAged = Number("<%= middleAged %>");
        var seniorCitizen = Number("<%= seniorCitizen %>");
        var mper = male/(male+female);
        var fper = female/(male+female);
        var capacity = "<%= cap %>";
        var booked = "<%= booking %>";
        var remain = capacity-booked;
        var bookPer = booked/(booked+remain);
        var remPer = remain/(booked+remain);
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart2);
        google.charts.setOnLoadCallback(drawChart3);
        
        function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Gender');
          data.addColumn('number', 'Percentage');
          data.addRows([
            ['Male', mper],
            ['Female', fper],
          ]);
          var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
          chart.draw(data, null);
        }
        
        function drawChart2() {
       
        console.log(capacity);
        // Define the chart to be drawn.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Seats');
        data.addColumn('number', 'Percentage');
        data.addRows([
        ['Booked Seats', bookPer],
        ['Remaining Seats', remPer],
        ]);
        // Instantiate and draw the chart.
        var chart = new google.visualization.PieChart(document.getElementById('myPieChart2'));
        chart.draw(data, null);
        }
        function drawChart3() {
        var data = google.visualization.arrayToDataTable([
            ["Age", "Number", { role: "style" } ],
            ["0-14 Yrs", children, "#b87333"],
            ["15-24 Yrs", teenager, "silver"],
            ["25-64 Yrs", middleAged, "gold"],
            ["65+ Yrs", seniorCitizen, "color: #e5e4e2"]
            ]);
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);
            var options = {
            title: "Age group of attendees",
            width: 600,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
            };
            var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
            chart.draw(view, options);
        }
        
    </script>

</body>
</html>