<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://www.gstatic.com/charts/loader.js"></script>
  
</head>
<body>
    <div id="demo">
        <h2>

        </h2>
    </div>
    <div class="analysis">
        <div id="myPieChart" style="width: 500px; height: 500px;"></div>
        <!--<div id="myPieChart2" style="width: 500px; height: 500px;"></div>  //uncomment  -->
        <div id="barchart_values" style="width: 900px; height: 300px;"></div>
    </div>
    <br><br><br><br>
    <div id="calendar_basic" style="width: 1000px; height: 350px;"></div>

    <div id="demo">

    </div>
    <script>
        var male = "<%= male %>";
        var female = "<%= female %>";
        var children = Number("<%= children %>");
        var teenager = Number("<%= teenager %>");
        var middleAged = Number("<%= middleAged %>");
        var seniorCitizen = Number("<%= seniorCitizen %>");
        document.getElementById("demo").innerHTML = children;
        // document.getElementById("demo1").innerHTML = female;
        var mper = male/(male+female);
        var fper = female/(male+female);

        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart3);

        function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Gender');
          data.addColumn('number', 'Percentage');
          data.addRows([
            ['Male', mper],
            ['Female', fper],
          ]);
          var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
          chart.draw(data, null);
        }



        function drawChart3() {
        var data = google.visualization.arrayToDataTable([
            ["Age", "Number", { role: "style" } ],
            ["0-14 Yrs", children, "#b87333"],
            ["15-24 Yrs", teenager, "silver"],
            ["25-64 Yrs", middleAged, "gold"],
            ["65+ Yrs", seniorCitizen, "color: #e5e4e2"]
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

            var options = {
            title: "Age group of attendees",
            width: 600,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
            };
            var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
            chart.draw(view, options);
        }
        
        


    </script>

</body>
</html>
