<%- include('partials/header') -%>
<div class="audi-landing">
    <div class="audiLanding-cover">
        <div class="audiLanding-header">
            <a href="/collegeEvents">
                College Events</a>
                <a class="trigger">Select City</a>
            <a href="/audilogout">Logout</a>
        </div>
        <div class="audi-landing-contents">
            <div class="landing-center">
                <div>
                    <h1>GrabMySeat
                    </h1>
                </div>
                <div class="search">
                    <div class="searchbar">
                        <div>
                            <input id="search" type="text" name="Search" placeholder="search for events"></div>
                            <div id="match-list"></div>
                        </div>
                    </div>
                    <div class="modal">
                        <div class="modal-content">
                            <span class="close-button">&times;</span>
                            <a href="/cities/Kolkata">Kolkata</a>
                            <a href="/cities/Hyderabad">Hyderabad</a>
                            <a href="/cities/Bangaluru">Bangalore</a>
                            <a href="/cities/Delhi">Delhi</a>
                            <a href="/cities/Mumbai">Mumbai</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="all-events">
            <h1>Top Events Across INDIA</h1>
            <% var count = 0 %>
            <div class="event-cate">
                <%  arr.forEach(topEvent => { %>
                    <% if(count <=3){ %>
                        <div class="event-box">
                            <a href="/cities/<%=topEvent.city%>/<%=topEvent._id%>">
                                <img src="data:image/<%=topEvent.image.contentType%>;base64,<%=topEvent.image.data.toString('base64')%>">
                                    <p class="event-name"><%=topEvent.eventName%></p>
                                </a>
                                <div class="event-details">
                                    <p>
                                        <span>Venue
                                        </span>:
                                        <%=topEvent.city%>,
                                        <%=topEvent.location%></p>
                                    <p>
                                        <span>Starts</span>:
                                        <%=topEvent.startDate%></p>
                                    <p>
                                        <span>₹
                                        </span>:
                                        <%=topEvent.price%></p>
                                </div>
                                <div class="event-book">
                                    <a href="/cities/<%=topEvent.city%>/<%=topEvent._id%>">Book Event</a>
                                </div>
                                <% count++ %>
                            </div>
                        <% } %>
<<<<<<< HEAD

                    <% }) %>

                </div>
                <br>
                    <br>
                        <h1>Handpicked Events for YOU</h1>
                        <% var count1 = 0 %>
                        <div class="event-cate">
                            <%  passedEvent.forEach(prefEvent => { %>
                                <% if(count1 <=3){ %>
                                    <div class="event-box">
                                        <a href="/cities/<%=prefEvent.city%>/<%=prefEvent._id%>">
                                            <img src="data:image/<%=prefEvent.image.contentType%>;base64,<%=prefEvent.image.data.toString('base64')%>">
                                                <p class="event-name"><%=prefEvent.eventName%></p>
                                            </a>
                                            <div class="event-details">
                                                <p>
                                                    <span>Venue
                                                    </span>
                                                    :
                                                    <%=prefEvent.city%>,
                                                    <%=prefEvent.location%></p>
                                                <p>
                                                    <span>Starts
                                                    </span>:
                                                    <%=prefEvent.startDate%></p>
                                                <p>
                                                    <span>₹
                                                    </span>:
                                                    <%=prefEvent.price%></p>
                                            </div>
                                            <div class="event-book">
                                                <a href="/cities/<%=prefEvent.city%>/<%=prefEvent._id%>">Book Event</a>
                                            </div>
                                            <% count++ %>
                                        </div>
                                    <% } %>
                                <% }) %>
                            </div>
                        </div>

                        <script>
                            var modal = document.querySelector(".modal");
                            var trigger = document.querySelector(".trigger");
                            var closeButton = document.querySelector(".close-button");

                            function toggleModal() {
                                modal.classList.toggle("show-modal");
                            }

                            function windowOnClick(event) {
                                if (event.target === modal) {
                                    toggleModal();
                                }
                            }

                            trigger.addEventListener("click", toggleModal);
                            closeButton.addEventListener("click", toggleModal);
                            window.addEventListener("click", windowOnClick);
                        </script>
                    </div>

                    <%- include('partials/footer') -%>
=======

                    <% }) %>

                </div>
                <br>
                    <br>
                        <h1>Handpicked Events for YOU</h1>
                        <% var count1 = 0 %>
                        <div class="event-cate">
                            <%  passedEvent.forEach(prefEvent => { %>
                                <% if(count1 <=3){ %>
                                    <div class="event-box">
                                        <a href="/cities/<%=prefEvent.city%>/<%=prefEvent._id%>">
                                            <img src="data:image/<%=prefEvent.image.contentType%>;base64,<%=prefEvent.image.data.toString('base64')%>">
                                                <p class="event-name"><%=prefEvent.eventName%></p>
                                            </a>
                                            <div class="event-details">
                                                <p>
                                                    <span>Venue
                                                    </span>
                                                    :
                                                    <%=prefEvent.city%>,
                                                    <%=prefEvent.location%></p>
                                                <p>
                                                    <span>Starts
                                                    </span>:
                                                    <%=prefEvent.startDate%></p>
                                                <p>
                                                    <span>₹
                                                    </span>:
                                                    <%=prefEvent.price%></p>
                                            </div>
                                            <div class="event-book">
                                                <a href="/cities/<%=prefEvent.city%>/<%=prefEvent._id%>">Book Event</a>
                                            </div>
                                            <% count++ %>
                                        </div>
                                    <% } %>
                                <% }) %>
                            </div>
                        </div>

                        <script>
                            var modal = document.querySelector(".modal");
                            var trigger = document.querySelector(".trigger");
                            var closeButton = document.querySelector(".close-button");

                            function toggleModal() {
                                modal.classList.toggle("show-modal");
                            }

                            function windowOnClick(event) {
                                if (event.target === modal) {
                                    toggleModal();
                                }
                            }

                            trigger.addEventListener("click", toggleModal);
                            closeButton.addEventListener("click", toggleModal);
                            window.addEventListener("click", windowOnClick);
                            const search = document.getElementById('search');
                const matchList = document.getElementById('match-list');
                const colMatchList = document.getElementById('colMatch-list');

                const searchUsers = async searchText => {
                    const res = await fetch('http://localhost:3000/events');
                    const users = await res.json();
                    
                    console.log(users);

                    let matches = users.filter(user => {
                        const regex = new RegExp(`^${searchText}`,'gi');
                        return user.eventName.match(regex);
                    });
                    if(searchText.length == 0){
                        matches = [];
                    }
                    outputHtlm(matches);
                }

                const outputHtlm = matches => {
                    if(matches.length > 0){
                        const html = matches.map(match => `
                        <div class="match-list">
                            <div>
                                <a href= '/cities/${match.city}/${match._id}'>${match.eventName}</a>
                                <p>${match.description.slice(0,15)}...</p>
                            </div>
                        </div>
                        `).join('');

                        matchList.innerHTML = html;
                    }else{
                        const html = '';
                        matchList.innerHTML = html
                    }
                }


                search.addEventListener('input', ()=>searchUsers(search.value));

                        </script>
                    

                    <%- include('partials/footer') -%>
>>>>>>> 7744a26881731b55bea1e9840bcb02d2894b3d1d
