<%- include('partials/header') -%>
<<<<<<< HEAD
<div class="colEvent">
    <% foundEvent.forEach(event => { %>
        <div class="colEvent-header">
            <img src="data:image/<%=event.image.contentType%>;base64,<%=event.image.data.toString('base64')%>" >
        </div>
        <div class="colEvent-body">
            <div class="colEvent-location">
                <p><span>Event Name: </span><%= event.name %></p>
                <p><span>location: </span><%= event.location %></p>
            </div>
            <div class="start-end-date">
                <p><span>College Name : </span><%= event.collegeName %></p>
                <p><span>Starts On : </span><%= startDate %> at <%= event.startTime %> </p>
                <p><span>Closes On: </span><%= endDate %> at <%= event.endTime %> </p>
            </div>
            <div class="colEvent-description">
                <p id="col-Description">Description</p>
                <p><%= event.description %></p>
            </div>
            <div class="rules">
                <p id="rules">Rules</p>
                <p id="colEvent-rules"><%= event.rules %></p>
            </div>
        </div>
    <%})%>
</div>
<%- include('partials/conformation') -%>
=======
<% foundEvent.forEach(event => { %>
    <img src="data:image/<%=event.image.contentType%>;base64,<%=event.image.data.toString('base64')%>" >
    <p><%= event.name %></p>
    <p><%= event.location %></p>
    <p><%= event.description %></p>
    <p><%= event.rules %></p>
    <p><%= startDate %></p>
    <p><%= endDate %></p>
    <form action="/collegeBook" method="POST">
        <input style="display: none;" value="<%= event._id %>" name="id">
        <input style="display: none;" value="<%= user.name %>" name="name">
        <input style="display: none;" value="<%= user.email %>" name="mail">
        <input style="display: none;" value="<%= user.audiAge %>" name="age">
        <input style="display: none;" value="<%= user.audiPhNum %>" name="phnum">
        <input style="display: none;" value="College" name="type">

        <button type="submit">Register</button>
    </form>
<%})%>
<%- include('partials/footer') -%>
>>>>>>> e88171554205efdce7c76ab5255d820f0fbebd61
