<%- include('partials/header') -%>
<div class="colEvent">
    <% foundEvent.forEach(event => { %>
        <div class="colEvent-header">
            <img src="data:image/<%=event.image.contentType%>;base64,<%=event.image.data.toString('base64')%>" >
        </div>
        <div class="colEvent-body">
            <div class="colEvent-location">
                <p><span>Event Name: </span><%= event.eventName %></p>
                <p><span>location: </span><%= event.location %></p>
            </div>
            <div class="start-end-date">
                <p><span>College Name : </span><%= event.collegeName %></p>
                <p><span>Starts On : </span><%= startDate %> at <%= event.startTime %> </p>
                <p><span>Closes On: </span><%= endDate %> at <%= event.endTime %> </p>
            </div>
            <div class="colEvent-description">
                <p id="col-Description">Description</p>
                <p><%= event.description %></p>
            </div>
            <div class="rules">
                <p id="rules">Rules</p>
                <p id="colEvent-rules"><%= event.rules %></p>
            </div>
        </div>
    <%})%>
</div>
<%- include('partials/conformation') -%>
