<%- include('partials/header') -%>
<div class="events">
    <div>
        <input id="search" type="text" name="Search" placeholder="search">
     </div>>
    <div id="matched-events"></div>
<%  foundEvents.forEach(foundEvent => { %>
        <div class="event-box">
            <img src="data:image/<%=foundEvent.image.contentType%>;base64,<%=foundEvent.image.data.toString('base64')%>">
            <p><%=foundEvent.eventName.toUpperCase()%></p>
            
            <a href="/cities/<%=foundEvent.city%>/<%= foundEvent.eventName %> ">explore</a>
        </div>
<% }) %>
</div>

<%- include('partials/footer') -%>
