<%- include('partials/header') -%>
<div class="events">
    <img src="data:passedimage/<%=passedimage.contentType%>;base64,<%=passedimage.data.toString('base64')%>">
    <%  foundEvent.forEach(foundEvent => { %>
        
            <div class="event-details">
               
                <p><%=foundEvent.eventName.toUpperCase()%></p>
                <p><%=foundEvent.description%></p>
                <p><%=foundEvent.location%></p>
                <p><%=foundEvent.tolalCapacity%></p>
                <p><%=foundEvent.startDate%></p>
                <p><%=foundEvent.startTime%></p>
                <p><%=foundEvent.endDate%></p>
                <p><%=foundEvent.endTime%></p>
                <p><%=foundEvent.price%></p>
                <p><%=foundEvent.city%></p>
                <button type="submit">Book ticket</button>
            </div>
    <% }) %>
</div>
<%- include('partials/footer') -%>