<%- include('partials/header') -%>
    <div class="colEvent">
        <div class="colEvent-header">
            <img  src="data:image/<%=foundEvent[0].image.contentType%>;base64,<%=foundEvent[0].image.data.toString('base64')%>">
        </div>
        <%  foundEvent.forEach(foundEvent => { %>
        <div class="colEvent-body">   
            <div class="colEvent-location">
                <p class=event-name><%=foundEvent.eventName.toUpperCase()%></p>
                <p>Location: <%=foundEvent.location%></p>
            </div> 
            <div class="start-end-date">
                <p>Starts on :<%=startDate%>, <%=foundEvent.startTime%></p>
                <p>Ends on :<%=endDate%>, <%=foundEvent.endTime%></p>
                <p>Price : Rs<%=foundEvent.price%></p>
                <p ><%=foundEvent.description%></p> 
                <p><%=foundEvent.city%></p>
                <a href="/cities/<%=foundEvent.city%>/<%=foundEvent._id%>/booking"><button type="submit">Book ticket</button></a>
            </div>
        </div>
    </div>
    <% }) %>
<%- include('partials/footer') -%>