<%- include('partials/header') -%>
<div class="events">
    <%  foundEvent.forEach(foundEvent => { %>
            <div class="event-details">
                <img src="/uploads/<%= image %>" style="width: 100%; margin: 5px auto;">
                <p><%=foundEvent.eventName.toUpperCase()%></p>
                <p><%=foundEvent.description%></p>
                <p><%=foundEvent.location%></p>
                <p><%=foundEvent.tolalCapacity%></p>
                <p><%=foundEvent.startDate%></p>
                <p><%=foundEvent.startTime%></p>
                <p><%=foundEvent.endDate%></p>
                <p><%=foundEvent.endTime%></p>
                <p><%=foundEvent.price%></p>
                <p><%=foundEvent.city%></p>
                <p><%=foundEvent.image%></p>
            </div>
    <% }) %>
</div>
<%- include('partials/footer') -%>