<%- include('partials/header') -%>

<<<<<<< HEAD
<!-- <div class="header">

=======
<div class="header">
<nav>
>>>>>>> 557dc422fa367579875edf9c549fcaf25b8e1e60
<h1>GRAB MY SEAT</h1>

<form action="/userLoginRegister" method="GET">
    <button type="submit" class="login-btn">ORGANISE</button>
<<<<<<< HEAD
</form> -->
=======
</form>
</nav>
>>>>>>> 557dc422fa367579875edf9c549fcaf25b8e1e60
<div class="city">
    <div class="kolkata">
        <%- include('partials/svg') -%>
    </div>
    <div class="Delhi">
        <%- include('partials/svgD') -%>
    </div>
    <div class="Bengaluru">
        <%- include('partials/svgB') -%>
    </div>
    <div class="Hyderabad">
<<<<<<< HEAD
        <%- include('partials/svgH') -%>
=======
        <%- include('partials/sygH') -%>
>>>>>>> 557dc422fa367579875edf9c549fcaf25b8e1e60
    </div>
    <div class="Mumbai">
        <%- include('partials/svgM') -%>
    </div>
    
</div>

<<<<<<< HEAD
<!-- </div> -->
<%- include('partials/footer') -%>
=======
</div>
<%- include('partials/footer') -%>
>>>>>>> 557dc422fa367579875edf9c549fcaf25b8e1e60
