<%- include('partials/header') -%>

<div class="header">

<h1>GRAB MY SEAT</h1>

<form action="/userLoginRegister" method="GET">
    <button type="submit" class="login-btn">ORGANISE</button>
</form>
<div class="city">
    <div class="kolkata">
        <%- include('partials/svg') -%>
    </div>
    <div class="Delhi">
        <%- include('partials/svgD') -%>
    </div>
<<<<<<< HEAD:views/landing.ejs
    <div class="Bengaluru">
        <%- include('partials/svgB') -%>
    </div>
=======
    
</div>

>>>>>>> d604bf8757433cc945a7f82a9f71de7da05bb973:views/home.ejs
</div>
<%- include('partials/footer') -%>
