<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<%- include('partials/carousel') -%>
<div class="city">
    <div class="kolkata">
        <%- include('partials/svg') -%>
        <h4>Kolkata</h4>
    </div>
    <div class="Delhi">
        <%- include('partials/svgD') -%>
        <h4>Delhi</h4>
    </div>
    <div class="Bengaluru">
        <%- include('partials/svgB') -%>
        <h4>Bengaluru</h4>
    </div>
    <div class="Hyderabad">
        <%- include('partials/svgH') -%>
        <h4>Hyderabad</h4>
    </div>
    <div class="Mumbai">
        <%- include('partials/svgM') -%>
        <h4>Mumbai</h4>
    </div>
</div>
<h1 class="division">Event Categories</h1>
<div class="event-categories">
    <a href="/audiLogin">
        <div class="event">
            <img src="images/comedy.png" alt="">
            <p>Comedy</p>
        </div>
    </a>
    <a href="/audiLogin">
        <div class="event">
            <img src="images/1917.jpg" alt="">
            <p>Movies</p>
        </div>
    </a>
    <a href="/audiLogin">
        <div class="event">
            <img src="images/rock.jpg" alt="">
            <p>Concerts</p>
        </div>
    </a>
    <a href="/audiLogin">
        <div class="event">
            <img src="images/tech.jpg" alt="">
            <p>College Fests</p>
        </div>
    </a>
    <a href="/audiLogin">
        <div class="event">
            <img src="images/funkYou7.jpg" alt="">
            <p>Sports</p>
        </div>
    </a>
</div>

<%- include('partials/footer') -%>


