<%- include('partials/header') -%>

<!-- <div class="header">

<h1>GRAB MY SEAT</h1>

<form action="/userLoginRegister" method="GET">
    <button type="submit" class="login-btn">ORGANISE</button>
</form> -->
<div class="city">
    <div class="kolkata">
        <%- include('partials/svg') -%>
    </div>
    <div class="Delhi">
        <%- include('partials/svgD') -%>
    </div>
    <div class="Bengaluru">
        <%- include('partials/svgB') -%>
    </div>
    <div class="Hyderabad">
        <%- include('partials/svgH') -%>
    </div>
    <div class="Mumbai">
        <%- include('partials/svgM') -%>
    </div>
    
</div>

<!-- </div> -->
<%- include('partials/footer') -%>
