<%- include('partials/header') -%>
<h1>Let's Begin</h1>
<div class="city">
    <div class="kolkata">
        <%- include('partials/svg') -%>
    </div>
    <div class="Delhi">
        <%- include('partials/svgD') -%>
    </div>
    <div class="Bengaluru">
        <%- include('partials/svgB') -%>
    </div>
</div>
<%- include('partials/footer') -%>
