<%- include('partials/header') -%>
<h1>Welcome <%= passedname %></h1>
    <a href="/createEvent">Create Event</a>
    <a href="/logout">LOG OUT</a>
<h2>

   Events created by you 

</h2>
<table>
    <tr>
        <th>SL. No</th>
        <th>Event Name</th>
        <th>Show stats</th>
        <!-- <th>Delete Event</th> -->
    </tr>
    <% var count=1%>
    <%foundEvents.forEach(function(Event){%>
        <tr>
            <td><%=count++ %></td>
            <td><%=Event.eventName%></td>
            <td style="height: 100%;">
            <form action="/newindex" method="POST" >
                    <input style="display: none;" value="<%=Event.username%>" name ="username">
                    <button type="submit">Show Stats</i></button>
            </form></td>
            <!-- <form action="/newindex" method="POST" >
                <input style="display: none;" value="<%=Event.username%>" name ="username">
                <button type="submit">DELETE</i></button>
            </form></td> -->

            </tr>
            <% }) %>
</table>
<%- include('partials/footer') -%>