<%- include('partials/header') -%>
<h1>Welcome <%= passedname %></h1>
    <a href="/createEvent">Create Event</a>
    <a href="/logout">LOG OUT</a>
<h2>

   Events created by you 

</h2>
<table>
    <tr>
        <th>SL. No</th>
        <th>Event Name</th>
        <th>Show stats</th>
        <th>Delete Event</th>
    </tr>
    <% var count=1%>
    <%foundEvents.forEach(function(Event){%>
        <tr>
            <td><%=count++ %></td>
            <td><%=Event.eventName%></td>
            <td style="height: 100%;">
            <!-- <form action="/analytics" method="GET" >
                    <input style="display: none;" value="<%=Event._id%>" name ="id">
                    <a href="/analytics/:<%=Event._id%>"><button>Show Stats</button></a> 
            </form></td> -->
            <a href="/analytics/<%=Event._id%>"><button>Show Stats</button></a> 
            <td style="height: 100%;">
            <form action="/delete" method="POST" >
                <input style="display: none;" value="<%=Event._id%>" name ="id">
                <button type="submit">DELETE</button>
            </form></td>

            </tr>
            <% }) %>
</table>
<%- include('partials/footer') -%>